* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Marvel', sans-serif;
  color: #fff;
  background-color: #fff;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.character {
  max-width: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
  background-color: #404040;
  -webkit-box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.3);
          box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
  height: 18rem;
}

.character__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 12rem;
          flex: 0 0 12rem;
  pointer-events: none;
}

.character__image-img {
  height: 100%;
  width: 100%;
}

.character__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1rem;
  pointer-events: none;
  position: relative;
  height: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: scroll;
}

.character__text-name {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.character__text-description {
  font-size: 1.7rem;
  line-height: 2rem;
}

.character:hover .character__text-name {
  color: #ed1d24;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  background-color: #ed1d24;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__text {
  font-size: 1.5rem;
}

.footer__text-link {
  text-transform: uppercase;
}

.footer__text-link:hover {
  font-size: 1.8rem;
}

.footer__text-link:link, .footer__text-link:visited {
  color: #404040;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ed1d24;
}

.header__logo {
  margin: 1rem 2rem;
  cursor: pointer;
}

.header__logo-img {
  height: 6rem;
}

.header__search {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  color: #404040;
}

.header__search-input {
  font-family: inherit;
  font-size: 1.8rem;
  border: none;
  padding: .7rem 1.2rem;
  border-radius: 10px;
  width: 80%;
  margin-right: -3rem;
}

.header__search-input:focus {
  outline: none;
}

.header__search-button {
  border: none;
  background-color: #fff;
}

.header__search-button:focus {
  outline: none;
}

.header__search-button:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header__search-icon {
  font-size: 2rem;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.overlay.hide {
  display: none;
}

.selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 500px;
  width: 70%;
  background-color: white;
  overflow: scroll;
}

.selected__top {
  background-color: #404040;
  position: relative;
  pointer-events: none;
}

.selected__top-name {
  text-align: center;
  font-size: 5rem;
  text-transform: uppercase;
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
}

.selected__top-image {
  width: 15rem;
  height: 15rem;
  margin: 0 auto;
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
}

.selected__top-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.selected__top-button {
  border: none;
  background-color: inherit;
  position: absolute;
  top: .3rem;
  right: .7rem;
  cursor: pointer;
}

.selected__top-button:focus {
  outline: none;
}

.selected__top-button:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.selected__top-icon {
  font-size: 3rem;
  cursor: pointer;
  color: #fff;
  pointer-events: auto;
}

.selected__bottom {
  background-color: orangered;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  pointer-events: none;
}

.selected__bottom-description {
  margin-top: 5rem;
  font-size: 2rem;
  padding: 1rem;
}

.selected__bottom-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 1rem 0;
}

.selected__bottom-link {
  text-transform: uppercase;
  font-size: 1.8rem;
  pointer-events: auto;
}

.selected__bottom-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.selected__bottom-link:link, .selected__bottom-link:visited {
  color: #404040;
}
/*# sourceMappingURL=main.css.map */